body {
  background-image: url('/static/stars.jpg');
  color: yellow;
  font-family: "Monospace";
  font-size: 13px;
}

p, a {
  color: yellow;
  font-family: "Arial";
  font-size: 14px;
}

.container span {
  display: inline-block;
}

fieldset {
	border: none;
}

label::after {
	content: "";
	display: block;
}

