{% extends "layout.html" %}
{% block content %}
{% if scene %}
  <h1> {{ scene.title }} </h1>
  <pre>{{ scene.description }}</pre>
{% endif %}

</br>
</br>

 <form action="/intro" method="POST">
   <div class="container">
    <div>
        <span style="width:230px;">Please enter your name:</span>
        <span><input type="text" name="username" value="{{ username }}"></span>
    </div>
    <!--
    <div>
        <span style="width:230px;">Please enter your mail adress:</span>
        <span><input type="text" name="email"></span>
    </div>

    <div>
        <span style="width:230px;">Please enter a password:</span>
        <span><input type="text" name="password"></span>
    </div>

    -->
    <div>&nbsp;</div>    
    
    <div>
        <span style="width:230px;">Which side do you choose?</span>

        <span>
          <input type="radio" id="light" name="role" value="light" checked="checked"> 
          <label for="light">Light</label> 
        </span>
        <span>
          <input type="radio" id="dark" name="role" value="dark"> 
          <label for="dark">Dark</label> 
        </span>
    </div>

    <div>
        </br>
        <span style="width:230px;"></span>
        <span><input type="submit" value="Start Game"></span>
    </div>
  </div>
 </form>

{% endblock %}
