{% extends "layout.html" %}

{% block content %}

{% if scene %}
  <div style="height:50px;">
    <br>
    <span>
      Your health:
      {% if player_health > 33 %}
        <b class="health_ok">{{ player_health }}</b>
      {% else %}
        <b class="health_critical">{{ player_health }}</b>
      {% endif %}
    </span>

    <span>
      Enemy health:
      {% if enemy_health > 33 %}
        <b class="health_ok">{{ enemy_health }}</b>
      {% else %}
        <b class="health_critical">{{ enemy_health }}</b>
      {% endif %}
    </span>

  </div>
  <hr>

  <h1> {{ scene.title }} </h1>

  <div class="scene_description">
  {{ scene.description }}
  </div>
  </br>

  {% if lightside %}
    <div class="scene_description">
     {{ scene.light_story}}
    </div>
    </br>
  {% else %}
    <div class="scene_description">
     {{ scene.dark_story}}
    </div>
    </br>
  {% endif %}

  {% if scene.urlname == "gameover" %}
    <a href="/">Play Again?</a><
  {% else %}
    <form action="/game" method="POST">
      What do you do? <input type="text" name="userinput"> <input type="submit" value="Play">
    </form>
  {% endif %}
{% else %}
  <p><a href="/">Start from the beginning</a></p>
{% endif %}

{% endblock %}
